<div id="footer-wrapper">
{% include '_includes/tags.html' %}
<ul class="footer">
    <li class="footer">&copy;&nbsp;2021&nbsp;::</li>
    <li class="footer"><a href="{{ SITEURL}}">{{ SITENAME }} </a>&nbsp;::</li>
    <li class="footer">Desenvolvido por <a href="http://d4n1.org">Daniel :)</a>&nbsp;::</li>
    <li class="footer"><a href="http://creativecommons.org/licenses/by-nc/3.0/deed.pt_BR">CC BY-NC</a></li>
</ul>
</div>
