<div class="pagination">
    {% if articles_page.has_previous() %}
        {% set num = articles_page.previous_page_number() %}
        <a href="{{ SITEURL }}/{{ page_name }}{{ num if num > 1 }}.html">&larr;Prev</a>
    {% endif %}
    página {{ articles_page.number }} de {{ articles_paginator.num_pages }}.
    {% if articles_page.has_next() %}
        <a href="{{ SITEURL }}/{{ page_name }}{{ articles_page.next_page_number() }}.html">Next&rarr;</a>
    {% endif %}
</div>
