<!DOCTYPE html>
<html lang="en">
<head>
  <title>{% block title %}{{ SITENAME }}{%endblock%}</title>
  <meta charset="utf-8">
  {% block metadesk %}<meta name="description" content="{{ METADATA }}">{% endblock %}
  {% block author %}<meta name="author" content="{{ AUTHOR }}">{% endblock %}
  <meta name="viewport" content="initial-scale=1, maximum-scale=1" />
  <meta http-equiv="Cache-Control" content="max-age=604800, must-revalidate" />
  <link href="{{ SITEURL }}/theme/css/screen.css" rel="stylesheet" type="text/css" />
  <link rel="icon" href="{{ SITEURL}}/theme/img/favicon.ico" type="image/x-icon">
  <link rel="shortcut icon" href="{{ SITEURL }}/theme/img/favicon.ico" type="image/x-icon">
  <link href="{{ SITEURL }}/{{ FEED }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} ATOM Feed" />
{% if FEED_RSS %}
  <link href="{{ SITEURL }}/{{ FEED_RSS }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} RSS Feed" />
{% endif %}
</head>
<body>
<div id="outer-wrapper">
{% include '_includes/header.html' %}
    <div id="main">
    {% block content %}
    {% endblock %}
    </div>
</div>
{% include '_includes/footer.html' %}
</body>
</html>
